<h1>New Recipe Here</h1>

<form method="POST" action="/recipe">
  Recipe:<br>
  <input name="name" type="text">
  <br>
  Description:<br>
  <input name="desc" type="text">
  <br>
  Prep time:<br>
  <input name="time" type="text">
  <br>
  Difficulty:<br>
  <input name="time" type="text">
  <br>
  Ingredients:<br>
  <input name="ingredients" type="text">
  <br>
  <br><br>
  <input type="submit" value="Submit">

</form>
